
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
  color: #333;
  line-height: 1.6;
}





















